<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scripts(additional_scripts)">   <!--(~{::script})-->
    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery-migrate.min.js"></script>
    <script src="/vendor/jquery/jquery-form-plugin.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/easing/easing.min.js"></script>
    <script src="/vendor/isotope/isotope.pkgd.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>
<!--    <script src="js/login-form-validation.js"></script>-->

    <th:block th:if="${additional_scripts != null}">
        <th:block th:replace="${additional_scripts}"/>
    </th:block>
</div>
</body>
</html>