<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="utf-8">
    <title th:replace="${title}">Dreamfit</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="/img/shvdyprojecticon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P:400|Raleway:400,700&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/aos/aos.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/food-modal.css" rel="stylesheet">
</head>
</html>