<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="modal" id="myModal" th:fragment="content" xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <div class="modal-header">
            <p2 class="p-1 mt-2 mb-2" style="size:4em" th:text="#{user.meals-to-add}">Meals to add:</p2>
            <span class="close mt-0" onclick="closeAddFoodModalWindow()">&times;</span>
        </div>
        <div class="modal-body container" id="modalbody">
            <div class="m-2 tabs" id="new-entries" style="display: block">
                <div id="food-container">
                    <div th:replace="/fragments/user-page/food-list :: content"></div>
                </div>
                <div>
                    <div id="new-entries-container">
                        <div id="items" th:fragment="new-entries-list">
                            <input id="new-entries-list" th:value="${newEntriesDTO}" type="hidden">
                            <form id="new-entries-form" method="post" th:action="@{/save-new-entries}"
                                  th:object="${newEntriesDTO}">
                                <table style="width: 80%">
                                    <input th:field="${newEntriesDTO.recordDate}" type="hidden"/>
                                    <tr align="center" class="row align-items-center m-1" id="fff"
                                        th:each="entry, stat : ${newEntriesDTO.entries}">
                                        <td class="foodlabel  row justify-content-end m-1"
                                            style="width: 18%; justify-content: end">
                                            <p class="mr-2" style="text-align: right"
                                               th:text="${entry.foodName}"></p>
                                        </td>
                                        <td class="d-inline-flex col-sm-auto align-items-center m-1">
                                            <input class="form-control mr-2" placeholder="quantity"
                                                   style="width: 50%" th:id="entries[__${stat.index}__].quantityError"
                                                   th:field="${newEntriesDTO.entries[__${stat.index}__].quantity}">
                                            <input class="form-control"
                                                   th:field="${newEntriesDTO.entries[__${stat.index}__].foodDTOJSON}"
                                                   type="hidden">
                                            <p th:text="#{food.grams}">(g)</p>
                                        </td>
                                        <td class="">
                                            <a class=" mt-2 removeButton"
                                               onclick="removedEntry(this.getAttribute('indexx'))"
                                               style="padding: 4px 8px; color: rgba(168,56,59,0.66)"
                                               th:indexx="${stat.index}" type="button" th:text="#{user.remove}">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
                <button class="pretty-button switch-content" onclick="setModalContainerTo('createfoodcontainer')"
                        style="width: 40%" th:text="#{user.create-new}">Create New
                </button>
            </div>
            <div class="mt-4" id="createfoodcontainer" style="display: none">
                <div id="foodSavedSuccessBox" class="alert alert-success col-md-11 mb-3" role="alert"
                     style="display: none">Saved
                </div>
                <form class="form row" id="createfoodform" method="post" style="width: 100%" th:object="${newFoodDTO}">
                    <div class="col-3">
                        <div class="form-group col-md-11">
                            <label class="control-label" for="name" th:text="#{user.food-name}"></label>
                            <input class="form-control" id="name" th:field="*{name}"/>
                            <p id="nameError" class="errorServerValidation"></p>
                        </div>
                        <div class="form-group col-md-11">
                            <label class="control-label" for="calories" th:text="#{user.calories}"></label>
                            <input class="form-control" id="calories" th:field="*{calories}"/>
                            <p id="caloriesError" class="errorServerValidation"></p>
                        </div>
                        <div class="form-group col-md-11">
                            <label class="control-label" for="proteins" th:text="#{user.proteins}"></label>
                            <input class="form-control" id="proteins" th:field="*{proteins}"/>
                            <p id="proteinsError" class="errorServerValidation"></p>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="form-group col-md-11">
                            <label class="control-label" for="fats" th:text="#{user.fats}"></label>
                            <input class="form-control" id="fats" th:field="*{fats}"/>
                            <p id="fatsError" class="errorServerValidation"></p>
                        </div>
                        <div class="form-group col-md-11">
                            <label class="control-label" for="carbohydrates" th:text="#{user.carbs}"></label>
                            <input class="form-control" id="carbohydrates" th:field="*{carbohydrates}"/>
                            <p id="carbohydratesError" class="errorServerValidation"></p>
                        </div>
                    </div>
                </form>
                <div class="m-2 d-flex flex-column col-5 tabs">
                    <button class="pretty-button mt-2" onclick="saveCreatedFood()" th:text="#{user.save}"></button>
                    <button class="pretty-button switch-content mt-2" onclick="updateFoodList('new-entries')"
                            th:text="#{user.back}"></button>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="pretty-button" onclick="saveNewEntries(this.getAttribute('current-record-date'))"
                    th:current-record-date="${newEntriesDTO.recordDate}"
                    style="width: 40%" th:text="#{user.save}"></button>
        </div>
    </div>
</div>
</body>
</html>
