<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<div class="content-container flex-column d-flex food-diary-container" data-aos="fade-zoom-in" data-aos-offset="0"
     style="width: 100%" th:fragment="content">
    <input id="show-day" th:value='${showday}' type="hidden">

    <div class=" mb-4 m-4 font-rubick " style="width: 100%;">
        <h2 th:text="#{food-diaty}">Nutrition Diary</h2>
    </div>
    <div class="tabs row d-flex ml-2 mb-3" style="width: 100%">
        <button class="pretty-button m4 ml-3 nextb" style="background: rgba(40,0,169,0.36)"
                th:if="${backDate}" th:back-date="${backDate}"
                onclick="loadFromServerIntoContentContainer('/food-diary?week=' + this.getAttribute('back-date'))"
                th:text="#{diary.prev}"></button>
        <button class="pretty-button m4 recordTab ml-3" th:each="rec,stat : ${@sessionInfo.diaryCache}"
                th:date="${rec.recordDate}" onclick="tabClick(this.getAttribute('date'))"
                th:text="${rec.name()}"></button>
        <button class="pretty-button m4 ml-3 nextb" style="background: rgba(40,0,169,0.36)"
                onclick="loadFromServerIntoContentContainer('/food-diary?week=' + this.getAttribute('next-date'))"
                th:next-date="${@sessionInfo.getNextWeekDate()}" th:text="#{diary.next}"></button>
    </div>
    <div class="record-tabs container m2  flex-grow-1 " style="max-height: available"
         th:each="rec,stat : ${@sessionInfo.diaryCache}"
         th:id="${rec.recordDate}"
         th:style="${rec.recordDate == showday ? 'display:block' : 'display:none'}">
        <div class="tab-container" th:if="${rec.totalCalories > 0}">
            <div class="row ml-4 align-items-center">
                <h4 class="mr-2" th:text="#{daily-cals-norm}">Your daily calories norm:</h4>
                <h4 class="logged-in-as" th:text="${rec.percentage} + '%'"></h4>
                <h4 class="float-right" th:text="' (' + ${rec.totalCalories} + '/' +
                    ${rec.dailyCaloriesNorm}"></h4><h4 class="font-rubick">)</h4>
            </div>
            <div>
                <table class="col-8 table" style="width: 450px; font-size: 1.2em">
                    <thead style="font-size: 0.9em; font-weight: normal; text-align: right">
                    <th colspan="2" style="text-align: left"></th>
                    <th class="bg" id="first" th:text="#{user.fat}">Fat</th>
                    <th class="bg" th:text="#{user.carbs}">Carbs</th>
                    <th class="bg" th:text="#{user.prot}">Prot</th>
                    <th class="bg" th:text="#{user.calories}">Cals</th>
                    </thead>
                    <tbody style="text-align: right">
                    <tr>
                        <td th:text="#{diary.total}">TOTAL</td>
                        <td></td>
                        <td th:text="${rec.totalFats}"></td>
                        <td th:text="${rec.totalProteins}"></td>
                        <td th:text="${rec.totalCarbs}"></td>
                        <td th:text="${rec.totalCalories}"></td>
                    </tr>
                    <tr th:each="food: ${rec.entries}">

                        <td style="text-align: right; width: 100px" th:text="${food.food.name}"></td>
                        <td style=" vertical-align: middle; text-align: left; color: #747478; font-size: 0.7em"
                            th:text="${food.quantity} + 'g'"></td>
                        <!--                            <td th:text="${#request.getParameter('lang') == 'ua'} ? ${user.firstNameUa} : ${user.firstName}"></td>-->
                        <td th:text="${food.food.fats * food.quantity/100}"></td>
                        <td th:text="${food.food.carbohydrates * food.quantity/100}"></td>
                        <td th:text="${food.food.proteins * food.quantity/100}"></td>
                        <td style="background: #e2bfaf   ;font-weight: bold"
                            th:text="${food.food.calories * food.quantity/100}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${rec.totalCalories == 0}">
            <p class="m-4 " style="font-style: italic; color: #787a7a; font-size: 1.2em"
               th:text="#{user.empy-list}"></p>
        </div>
        <div class="tabs container m2 mb-4">
            <form th:classappend="${'data-food-modal-window' + stat.index}">
                <input id="recordDate" name="recordDate" th:value="${rec.recordDate}" type="hidden">
            </form>
            <button class="pretty-button" style="width: 12em; "
                    th:onclick="'openAddFoodModalWindow(\'.data-food-modal-window' + ${stat.index} +'\')'"
                    th:text="#{add-new}">
            </button>
        </div>
    </div>
    <script type="text/javascript">
        const dayToShow = $('#show-day').val();
        if (dayToShow)
            tabClick(dayToShow);

        function tabClick(date) {
            $('.recordTab').css("background", "#e2dbff");
            $(event.target).css("background", "linear-gradient(338deg, rgba(213, 95, 147, 0.62) 10%, rgba(233, 232, 148, 0.73) 100%)");
            $('.record-tabs').css("display", "none");
            $('#' + date).css("display", "block");
        }
    </script>
</div>
</body>
</html>

