<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head(~{::title} )">
    <title>Admin page • Dreamfit</title>
</head>
<body>
<div th:replace="template::top-bar"></div>
<div th:replace="template :: main(~{:: div.maincontent})">

    <div class="maincontent d-flex flex-nowrap p-lg-3" style="height:100%; background: #eeeeee">
        <div class="mr-auto">
            <h1 class="mb-5">ADMIN PAGE</h1>
            <div>
                <table>
                    <thead>
                    <th class="ml-2">Email</th>
                    <th class="ml-2">Name</th>
                    <th class="ml-2">Last Name</th>
                    </thead>
                    <tr th:each="user: ${users}">
                        <td style=" vertical-align: middle; text-align: left; color: #747478; font-size: 0.7em"
                            th:text="${user.username}"></td>
                        <td th:text="${user.userProfile.firstName}"></td>
                        <td th:text="${user.userProfile.lastName}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div th:replace="template :: footer"></div>
<div th:replace="template :: scripts(~{::script})">
    <script type="text/javascript" src="../static/js/food-dairy-modal.js"></script>
</div>
</body>
</html>